@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url(CSSblocks/nav.css);
@import url(CSSblocks/contact.css);
@import url(CSSblocks/footer.css);
@import url(CSSblocks/home.css);



html {
    background: black;
    color: white;
    font-family:'Anton SC', sans-serif;
}

.home-image {
    width: 100%;
}

