
nav {
    display: flex;
    justify-content: space-between;
}

.header-image {
    position: relative;
    margin-left: 20px;
    width: 200px;
    height: 155px;
}

.header-image:hover {
    cursor: pointer;
}

.nav-list {
    display: flex;
    padding: 0px;
    gap: 50px;
    list-style-type: none;
    font-size: 3rem;
    line-height: 30px;
    margin-right: 50px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    color: grey;
}

/* Tablet media queries for nav and header*/

@media screen and (min-width: 720px) and (max-width: 1180px){
    .header-image{
        width: 140px;
        height: 100px;
    }

    .nav-list {
        font-size: 1.5rem;
       gap: 20px;
    }
}

/*Mobile media queries for nav and header*/

@media screen and (min-width: 339px) and (max-width: 719px){

    .header-image{
        width: 80px;
        height: 80px;
    }
    nav {
         display: block;
    }

    .nav-list {
        display: block;
        margin: 30px 20px 20px;
        font-size: 1.3rem;
        line-height: 50px;
    }
}