.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1500px;
    grid-gap: 0px 5px;
    margin: 0 auto 50px;
}

product-section {
    margin-top: 70px;
    display: flex;
  flex-direction: column;
    justify-content: center;
  width: 375px;
  background-color: grey;
  color: black;
}

product-section img {
 width: 100%;
 height: 100%;
 box-shadow: rgba(5, 5, 32, 0.2);;
}

product-section img:hover{
cursor: pointer;
}

.name {
    font-size: 1.76rem;
    display: flex;
    justify-content: center;
}

.desc{
display: flex;
justify-content: center;
font-size: 1.2rem;
margin-left: 20px;
}

.price {
    display: flex;
    justify-content: center;
  font-size: 1.4rem;
}

product-section:hover {
    background: white;
    cursor: pointer;
    transform: scale(1.1);

}

.product-header{
    background-color: rgb(17, 17, 19);
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 900px;
    display: flex;
    margin: 40px auto 0px;
}

#product-quote{
   font-size: 2.5rem;
   color: grey;
}

/* Tablet Media Queries for products page*/
@media screen and (min-width: 720px) and (max-width: 1180px){
    .container{
        display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 420px;
    gap: 18px;
    }

    .product-header {
        margin: 30px auto 0px;
        font-size: 1.3rem;
        width: 500px;
    }

    product-section{
        width: 200px;
      }

      .name {
        font-size: 1.4rem;
      }
}

/* Mobile Media Queries for products page*/
@media screen and (min-width: 320px) and (max-width: 719px){
    .product-header {
        display: block;
       font-size: 1.1rem;
       width: 290px;
       margin: 0 auto;
    }

    .container {
        display: block;
        width: 240px;
        padding: 10px 10px;
        margin: 40px auto 20px;

    }
    product-section{
      width: 240px;
    }
 
    #product-quote{
        font-size: 1.5rem;
    }
}